//colors

$color-primary-light: rgba(18, 215, 250, 0.685);
$color-primary: rgba(31, 162, 255, 0.685);
$color-primary-dark: rgba(166, 255, 203, 0.788);
$color-white:rgba(248, 247, 247, 0.993);
$light-grey-1:#f7f7f7;
$color-black:black;


//Crads Color

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7700;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-green1:#dce35b;
$color-green2: #45b649;



//Grid

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;





//font size


$Default-font-size:1.6rem;