.composition{
    position: relative;


    &-photo{
        width: 55%;
        border-radius: 5px;
        position:absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
        z-index: 1;
       
       
        transition: all 0.4s;


        outline-offset: 2rem;

        &-p1{
            
            left:0px;
            top: -1rem;
            &:hover{
                z-index: 2;
                outline: 1rem solid $color-primary;
                
                
                transform: scale(1.2);
    
    
            }
           
            

           
        }

        &-p2{
            right: 0;
            top:1rem;
            &:hover{
                z-index: 2;
                outline: 1rem solid $color-primary;
               
                transform: scale(1.2);
    
    
            }
           
            
            
        }
        &-p3{
            left: 20%;
            top:10rem;
            &:hover{
                z-index: 2;
                outline: 1rem solid $color-primary;
                
                transform: scale(1.2);
    
    
            }
           
           
        }

        

       
    }
}

